<plugin name='export' version='1.5' grailsVersion='1.3 &gt; *'>
  <author>Andreas Schmitt</author>
  <authorEmail>andreas.schmitt.mi@gmail.com</authorEmail>
  <title>Export Plugin</title>
  <description>This plugin offers export functionality supporting different formats e.g. CSV, Excel, Open Document Spreadsheet, PDF and XML 
and can be extended to add additional formats. 
</description>
  <documentation>http://grails.org/plugin/export</documentation>
  <type>ExportGrailsPlugin</type>
  <resources>
    <resource>ExportConfig</resource>
    <resource>ExportResources</resource>
    <resource>de.andreasschmitt.export.ExportService</resource>
    <resource>de.andreasschmitt.export.ExportTagLib</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://grails.org/plugins' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>